#analysis .title,
.bi-aspect-ratio-fill,
#analysis .formula,
#risk-analysis-show,
#risk-analysis-total {
  color: var(--red-design);
}

#analysis input:focus {
  outline: none;
  border-color: #d43131;
}

#analysis input[type='text']::-webkit-inner-spin-button,
#analysis input[type='number']::-webkit-outer-spin-button,
#analysis input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#analysis input:checked {
  visibility: collapse;
}

#analysis button {
  background-color: #ff0000;
}

#analysis button:hover {
  background-color: #d43131;
}
