#cost-value,
#percent-ratio-area,
#percent-area,
#risk-analysis-area,
#fund-projection {
  text-align: center;
  width: 25%;
  padding: 2rem 1.2rem;
  margin: 3rem auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
}

#cost-value:hover,
#percent-ratio-area:hover,
#percent-area:hover,
#risk-analysis-area:hover,
#fund-projection:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

#cost-value .title,
#percent-ratio-area .title,
#percent-area .title,
#risk-analysis-area .title,
#fund-projection .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#cost-value .description,
#percent-ratio-area .description,
#percent-area .description,
#risk-analysis-area .description,
#fund-projection .description {
  font-size: 1em;
  margin-bottom: 1em;
}

#cost-value label,
#percent-ratio-area label,
#percent-area label,
#risk-analysis-area label,
#fund-projection label {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
}

#cost-value input,
#percent-ratio-area input,
#percent-area input,
#risk-analysis-area input,
#fund-projection input {
  width: calc(100% - 1em);
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

#cost-value button,
#percent-ratio-area button,
#percent-area button,
#risk-analysis-area button,
#fund-projection button {
  color: #fff;
  padding: 0.7em 1em;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#cost-value button:hover,
#percent-ratio-area button:hover,
#percent-area button:hover,
#risk-analysis-area button:hover,
#fund-projection button:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  #cost-value,
  #percent-ratio-area,
  #percent-area,
  #risk-analysis-area,
  #fund-projection {
    width: 80%;
    padding: 1.5em;
  }

  #cost-value .title,
  #percent-ratio-area .title,
  #percent-area .title,
  #risk-analysis-area .title,
  #fund-projection .title {
    font-size: 1.4em;
  }

  #cost-value .formula,
  #percent-ratio-area .formula,
  #percent-area .formula,
  #risk-analysis-area .formula,
  #fund-projection .formula {
    font-size: 1em;
  }
}
