#circle-area .title,
.bi-circle-fill,
#circle-area .formula,
#circle-show {
  color: var(--red-design);
}

#circle-area input:focus {
  outline: none;
  border-color: #b64e17;
}

#circle-area input[type='number']::-webkit-inner-spin-button,
#circle-area input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#circle-area input:checked {
  visibility: collapse;
}

#circle-area button {
  background-color: #c66937;
}

#circle-area button:hover {
  background-color: #b64e17;
}
