#cost-value .title,
.bi-aspect-ratio-fill,
#cost-value-show,
#cost-value-all {
  color: var(--navy-design);
}

#cost-value input:focus {
  outline: none;
  border-color: #000080;
}

#cost-value input[type='number']::-webkit-inner-spin-button,
#cost-value input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cost-value input:checked {
  visibility: collapse;
}

#cost-value button {
  margin: 2rem auto;
  background-color: #3333c8;
}

#cost-value button:hover {
  background-color: #000080;
}
