#fund-projection .title,
#fund-projection .formula,
#total-investment,
#monthly-earnings {
  color: var(--red-design);
}

#fund-projection input:focus {
  outline: none;
  border-color: var(--red-design);
}

#fund-projection input[type='number']::-webkit-inner-spin-button,
#fund-projection input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#fund-projection input:checked {
  visibility: collapse;
}

#fund-projection button {
  background-color: var(--red-design);
}

#fund-projection button:hover {
  background-color: #bc1b1b;
}
