:root {
  --primary-color: #4caf50;
  --secondary-color: #ffc107;
  --background-color: #f5f5f5;
  --purple-design: #663399;
  --red-design: #b64e17;
  --green-design: #365a36;
  --navy-design: #000080;
  --orange-design: #ecbe13;
  --text-color: #333;
  --border-radius: 8px;
  --font-family: 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5em;
  color: var(--purple-design);
}

hr {
  border: 1px solid var(--purple-design);
  width: 50%;
  margin: 0 auto;
}

.math-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 2rem auto;
}

section {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

.title {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.description {
  font-size: 1em;
  margin-bottom: 10px;
}

.formula {
  font-style: italic;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='number'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

button {
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}

p {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .math-content {
    flex-direction: column;
    align-items: center;
  }
}
