#informations,
#informations-mobile {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  #informations {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

@media (max-width: 767px) {
  #informations-mobile {
    position: fixed;
    width: 44%;
    left: 50%;
    transform: translateX(-50%);
  }
}
