#percent-area .title,
.bi-percent,
#percent-area .formula,
#percent-show {
  color: var(--orange-design);
}

#percent-area input:focus {
  outline: none;
  border-color: var(--orange-design);
}

#percent-area input[type='number']::-webkit-inner-spin-button,
#percent-area input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#percent-area input:checked {
  visibility: collapse;
}

#percent-area button {
  background-color: var(--orange-design);
}

#percent-area button:hover {
  background-color: #d6b230;
}
