#square-area .title,
.bi-square-fill,
#square-area .formula,
#square-show {
  color: var(--green-design);
}

#square-area input:focus {
  outline: none;
  border-color: #365a36;
}

#square-area button {
  background-color: #589b58;
}

#square-show {
  margin-top: 92px;
}

#square-area button:hover {
  background-color: #365a36;
}
