#triangle-area .title,
.bi-triangle-fill,
#triangle-area .formula,
#show {
  color: var(--purple-design);
}

#triangle-area input:focus {
  outline: none;
  border-color: #663399;
}

#triangle-area input[type='number']::-webkit-inner-spin-button,
#triangle-area input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#triangle-area input:checked {
  visibility: collapse;
}

#triangle-area button {
  background-color: #864bc2;
}

#triangle-area button:hover {
  background-color: #663399;
}
