#circle-area .title {
  color: #b64e17;
}

.bi-circle-fill {
  color: #b64e17;
}

#circle-area .formula {
  color: #b64e17;
}

#circle-area input:focus {
  outline: none;
  border-color: #b64e17;
}

#circle-show {
  color: #c66937;
}

#circle-area button {
  background-color: #c66937;
}

#circle-area button:hover {
  background-color: #b64e17;
}
