#circle-area {
  text-align: center;
  width: 25%;
  padding: 2em 1em;
  box-shadow: 2px 2px 5px #c0c0c0;
  box-sizing: border-box;
}

#circle-area:hover {
  box-shadow: 2px 2px 4px #b64e17;
}

#circle-area .title {
  color: #b64e17;
  font-size: 24px;
  font-weight: bold;
  margin: 1em auto;
}

.bi-circle-fill {
  font-size: 32px;
  color: #b64e17;
}

#circle-area .description {
  font-size: 16px;
}
#circle-area .formule {
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: #b64e17;
}
#circle-area label {
  display: block;
}

#circle-area input {
  border: none;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px #c0c0c0;
  border-radius: 5px;
  text-indent: 0.5em;
}
#circle-area input:focus {
  outline: 0;
}
#circle-show {
  color: #c66937;
  background-color: #f0f0f0;
  padding: 5px;
}
#circle-area button {
  color: #fff;
  background-color: #c66937;
  padding: 7px;
  border: none;
  border-radius: 5px;
  width: 100px;
}

#circle-area button:hover {
  background-color: #b64e17;
  cursor: pointer;
  box-shadow: 2px 2px 2px #c0c0c0;
}
