#imc-area .title {
  color: #663399;
}

.bi-person-fill {
  color: #663399;
}

#imc-area .formula {
  color: #663399;
}

#imc-area input:focus {
  outline: none;
  border-color: #663399;
}

#imc-area input[type='number']::-webkit-inner-spin-button,
#imc-area input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#imc-area input:checked {
  visibility: collapse;
}

#imc-show {
  color: #663399;
}

#imc-area button {
  background-color: #864bc2;
}

#imc-area button:hover {
  background-color: #663399;
}
