#media-area .title {
  color: #000080;
}

.bi-aspect-ratio-fill {
  color: #000080;
}

#media-area .formula {
  color: #000080;
}

#media-area input:focus {
  outline: none;
  border-color: #000080;
}

#media-area input[type='number']::-webkit-inner-spin-button,
#media-area input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#media-area input:checked {
  visibility: collapse;
}

#media-show {
  color: #000080;
}

#media-area button {
  background-color: #3333c8;
}

#media-area button:hover {
  background-color: #000080;
}
