#percent-area .title {
  color: #ecbe13;
}

.bi-percent {
  color: #ecbe13;
}

#percent-area .formula {
  color: #ecbe13;
}

#percent-area input:focus {
  outline: none;
  border-color: #ecbe13;
}

#percent-show {
  color: #ecbe13;
}

#percent-area button {
  background-color: #ecbe13;
}

#percent-area button:hover {
  background-color: #d6b230;
}
