#square-area {
  text-align: center;
  width: 25%;
  padding: 2em 1em;
  box-shadow: 2px 2px 5px #c0c0c0;
  box-sizing: border-box;
}

#square-area:hover {
  box-shadow: 2px 2px 4px #365a36;
}

#square-area .title {
  color: #365a36;
  font-size: 24px;
  font-weight: bold;
  margin: 1em auto;
}

.bi-square-fill {
  font-size: 32px;
  color: #365a36;
}

#square-area .description {
  font-size: 16px;
}
#square-area .formule {
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: #365a36;
}
#square-area label {
  display: block;
}

#square-area input {
  border: none;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px #c0c0c0;
  border-radius: 5px;
  text-indent: 0.5em;
}
#square-area input:focus {
  outline: none;
}
#show {
  color: #663399;
  background-color: #f0f0f0;
  padding: 5px;
}
#square-area button {
  color: #fff;
  background-color: #5f5fd6;
  padding: 7px;
  border: none;
  border-radius: 5px;
  width: 100px;
}

#square-area button:hover {
  background-color: #3434d4;
  cursor: pointer;
  box-shadow: 2px 2px 2px #c0c0c0;
}
