#triangle-area {
  text-align: center;
  width: 25%;
  padding: 2em 1em;
  box-shadow: 2px 2px 5px #c0c0c0;
  box-sizing: border-box;
}

#triangle-area:hover {
  box-shadow: 2px 2px 5px #5f5fd6;
}

#triangle-area .title {
  color: #663399;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #663399;
  margin: 1em auto;
}

.bi-triangle-fill {
  font-size: 32px;
  color: #663399;
}

#triangle-area .description {
  font-size: 16px;
}
#triangle-area .formule {
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: #663399;
  text-shadow: 2px 2px 5px #663399;
}
#triangle-area label {
  display: block;
}

#triangle-area input {
  border: none;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px #c0c0c0;
  border-radius: 5px;
  text-indent: 0.5em;
}

#triangle-area input:focus {
  outline: 0;
}

#triagle-area input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#triagle-area input:checked {
  visibility: collapse;
}
#show {
  color: #663399;
  background-color: #f0f0f0;
  padding: 5px;
}
#triangle-area button {
  color: #fff;
  background-color: #864bc2;
  padding: 7px;
  border: none;
  border-radius: 5px;
  width: 100px;
}

#triangle-area button:hover {
  background-color: #663399;
  cursor: pointer;
  box-shadow: 2px 2px 2px #c0c0c0;
}

@media screen and (max-width: 768px) {
  #triangle-area {
    width: 80vw;
  }
  
}